@{
    ViewBag.Title = "Area Information";
}

<div id="content">
	<div class="container area-info">
		<div class="sixteen columns">
			<h1>Area Information</h1>
			
						<h2>Aiken, South Carolina</h2>
					
			<div class="eight columns alpha">
				<h3>Historical</h3>
				<ul>
					<li><a href="http://www.aikencarriagehouse.com/" target="_blank">The Carriage House Inn Bed & Breakfast</a></li>
					<li><a href="http://www.thewillcox.com/" target="_blank">The Willcox</a></li>
					<li><a href="http://www.rosehillestate.com/" target="_blank">Rose Hill</a></li>
					<li><a href="http://greenboundaryclub.com/" target="_blank">The Green Boundary</a></li>			
				</ul>
						
				<h3>Government and Business</h3>
					<ul>
						<li><a href="http://www.aikenchamber.net/" target="_blank">Aiken Chamber of Commerce</a></li>
					</ul>
						
				<h3>Medical</h3>
					<ul>
						<li><a href="http://www.aikenregional.com/" target="_blank">Aiken Regional Medical Center</a></li>
					</ul>
						
			</div>
			<div class="eight columns omega">
						
				<h3>Attractions</h3>
					<ul>
						<li><a href="http://www.aikencenterforthearts.org/" target="_blank">Aiken Center for the Arts</a></li>
						<li><a href="http://www.aikencenterforthearts.org/" target="_blank">USCA Etherridge Center</a></li>
						<li><a href="http://aikencommunityplayhouse.us/" target="_blank">Aiken Community Playhouse</a></li>
						<li><a href="https://www.facebook.com/pages/Aiken-Tennis-Club/108751265815792" target="_blank">The Aiken Tennis Club (one of 2 below the Mason-Dixon line)</a></li>
						<li><a href="http://www.dogwoodstable.com/" target="_blank">Dogwood Stables</a></li>
						<li><a href="http://www.cityofaikensc.gov/index.php/residents/sports-recreation/parks-gardens-and-natural-areas/hopelands-gardens/" target="_blank">Hopeland Gardens</a></li>
						<li><a href="http://www.hitchcockwoods.org/" target="_blank">Hitchcock Woods</a></li>
						<li><a href="http://www.palmettogolfclub.net/" target="_blank">Palmetto Golf Club</a></li>
						<li><a href="http://www.aikengolfclub.com/" target="_blank">Aiken Golf Club</a></li>
						<li><a href="http://www.woodsideplantation.com/" target="_blank">Woodside Plantation Country Club</a></li>
						<li><a href="http://www.thereserveclubatwoodside.com/" target="_blank">The Reserve</a></li>
						<li><a href="http://www.houndslakecc.com/ordereze/default.aspx" target="_blank">Houndslake Country Club</a></li>
						<li><a href="http://www.aikenpoloclub.org/" target="_blank">Aiken Polo Club</a></li>
						<li><a href="http://www.aikensteeplechase.com/" target="_blank">Aiken Steeplechase</a></li>
					</ul>
						
				<h3>Climate</h3>
				<ul>
					<li><a href="http://www.weather.com/weather/today/USSC0003:1:US" target="_blank">The Weather Channel</a></li>
				</ul>
						
						
			</div>
			</div>

			<div class="sixteen columns">
			
			<h2>Augusta, Georgia</h2>
			
			<div class="eight columns alpha">
				<h3>Historical</h3>
				<ul>
					<li><a href="http://www.augustamuseum.org/" target="_blank">The Augusta Museum</a></li>
					<li><a href="http://www.historicaugusta.org/" target="_blank">Historic Augusta</a></li>
				</ul>
						
				<h3>Government and Business</h3>
				<ul>
					<li><a href="http://www.augustaga.org/" target="_blank">Augusta Convention and Visitors Bureau</a></li>
					<li><a href="https://augustava.com/" target="_blank">Greater Augusta Chamber of Commerce</a></li>
					<li><a href="http://www.augustaga.gov/" target="_blank">City of Augusta</a></li>
					<li><a href="http://www.augustaga.gov/index.aspx?NID=292" target="_blank">Riverwalk Augusta</a></li>
					<li><a href="http://www.northaugustachamber.org/" target="_blank">North Augusta Chamber of Commerce</a></li>
					<li><a href="http://www.northaugusta.net/" target="_blank">City of North Augusta</a></li>
					<li><a href="http://www.gordon.army.mil/" target="_blank">Fort Gordon</a></li>
					<li><a href="http://www.augustaga.gov/index.aspx?nid=874" target="_blank">Development Authority of Richmond County</a></li>
					<li><a href="http://www.columbiacountyga.gov/" target="_blank">Columbia County</a></li>
				</ul>
						
				<h3>Medical</h3>
				<ul>
					<li><a href="http://www.universityhealth.org/" target="_blank">University Hospital</a></li>
					<li><a href="http://www.trinityofaugusta.com/Trinity-Hospital-of-Augusta/home.aspx" target="_blank">Trinity Hospital</a></li>
					<li><a href="http://www.doctors-hospital.net/" target="_blank">Doctors Hospital</a></li>
					<li><a href="http://www.jmsburncenters.com/" target="_blank">Joseph M Still Burn Center</a></li>
					<li><a href="http://www.grhealth.org/" target="_blank">Georgia Regents Health Center</a></li>
				</ul>
						
			</div>
			<div class="eight columns omega">
						
				<h3>Attractions</h3>
				<ul>
					<li><a href="http://www.boshears.com/" target="_blank">Boshears Memorial Fly In</a></li>
					<li><a href="http://www.gghof.com/sites/courses/custom.asp?id=1010&page=59380" target="_blank">Georgia Golf Hall of Fame</a></li>
					<li><a href="http://www.themorris.org/" target="_blank">Morris Museum of Art</a></li>
					<li><a href="http://www.columbiacountyga.gov/index.aspx?page=2422" target="_blank">Savannah Rapids Pavilion</a></li>
					<li><a href="http://www.augustariverwalk.com/" target="_blank">Riverwalk Augusta</a></li>
					<li><a href="http://www.augustacanal.com/" target="_blank">The Augusta Canal</a></li>
					<li><a href="http://www.championsretreat.net/" target="_blank">Champions Retreat Golf Club</a></li>
					<li><a href="http://www.masters.com/index.html" target="_blank">The Augusta National - Masters Tournament</a></li>
					<li><a href="http://www.mastershousing.com/" target="_blank">Masters Housing</a></li>
					<li><a href="http://www.mountvintage.com/" target="_blank">Mount Vintage Plantation</a></li>
					<li><a href="http://www.rivergolfclub.com/" target="_blank">The River Golf Club</a></li>
					<li><a href="http://www.milb.com/index.jsp?sid=t478" target="_blank">Augusta Green Jackets Baseball</a></li>
					<li><a href="http://www.augustarowingclub.org/" target="_blank">Augusta Rowing Club</a></li>
					<li><a href="http://www.augustasouthernnationals.org/" target="_blank">Augusta Southern Nationals</a></li>
					<li><a href="http://www.myaugustadowntown.com/" target="_blank">Downtown Augusta</a></li>
				</ul>
						
				<h3>Climate</h3>
				<ul>
					<li><a href="http://www.weather.com/weather/today/Augusta+GA+USGA0032:1:US" target="_blank">The Weather Channel</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
