@{
    ViewBag.Title = "About Us";
}

<div id="content">
	<div class="container area-info">
		<div class="sixteen columns">
			<h1>About Meybohm Fine Homes</h1>
					
			<div class="nine columns alpha">
			<p>Meybohm’s FINE program is dedicated exclusively to providing the level of service and marketing expertise the finest properties deserve.</p>
					
			<p>As the most successful real estate company in the area, Meybohm is in a unique position to bring the resources and talent necessary to mount a world-class campaign to sell your sporting and luxury property. The combination of those resources together with REALTORS ® whose names are synonymous with excellent service and quality, creates nothing short of the FINEST real estate division ever assembled.</p>
			
			<p>When we recognize a certain level of quality in things like art, jewelry and homes there is only one word to describe their excellence.</p>
			
			<p>When buying or selling a luxury property, don’t worry, rely on Meybohm and you will be FINE.</p>
			
			</div>
			<div class="six columns offset-by-one omega">
				<img class="right" src="/content/images/about.jpg" />
			</div>
					
		</div>
	</div>
</div>