@{
    ViewBag.Title = "ContactComplete";
}

<div id="content">
	<div class="container contact">
		<div class="sixteen columns">
            <h1>Thank You!</h1>
			<div class="sixteen alpha">
				<p>We will be in contact with you as soon as possible. Thank you for contacting Meybohm REALTORs®.</p>
			</div>
		</div>
	</div>
</div>

