@{
    ViewBag.Title = "Copyright Information";
}

<div id="content">
    <div class="container area-info">
        <div class="sixteen columns">
            <h1>Copyright</h1>

            <h2>TRADEMARKS, COPYRIGHTS AND RESTRICTIONS</h2>
            <p>
                This Site is controlled and operated by Meybohm LLC, 3519 Wheeler Road, Augusta, Georgia 30909.  All content on this Site, including, but not limited to text, images, illustrations, audio clips, and video clips, is protected by copyrights, trademarks, service marks, and/or other intellectual property rights (which are governed by U.S. and worldwide copyright laws and treaty provisions, privacy and publicity laws, and communication regulations and statutes), and are owned and controlled by Meybohm Realtors, LLC or its affiliates, or by third party content providers, merchants, sponsors and licensors (collectively "Providers") that have licensed their content or the right to market their products and/or services to Meybohm Realtors, LLC. 
            </p>
            <p>
                Content on this Site is solely for your personal non-commercial use. You may print a copy of the Content and/or information contained herein for your personal non-commercial use. You may not otherwise copy, reproduce, republish, upload, post, transmit, distribute, and/or exploit the Content or information in any way (including by e-mail or other electronic means) for commercial use without the prior written consent of Meybohm Realtors, LLC or the Providers. You may request consent by faxing a request to Meybohm Realtors, LLC’s Legal Department at (706) 736-0703. Without the prior written consent of Meybohm Realtors, LLC or the Providers, your modification of the Content, use of the Content on any other web site or networked computer environment, or use of the Content for any purpose other than your personal non-commercial use, violates our rights and/or the Provider copyrights, trademarks or service marks and other proprietary rights, and is prohibited. As a condition to your use of this Site, you warrant to Meybohm Realtors, LLC that you will not use our Site for any purpose that is unlawful or prohibited by these Terms, including without limitation the posting or transmitting any threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic, or profane material. 
            </p>
            <p>
                If you violate any of these Terms, your permission to use our Site immediately terminates without the necessity of any notice. Meybohm Realtors, LLC retains the right to deny access to anyone at its discretion for any reason, including for violation of these Terms. You may not use any trademarks, service marks or copyrighted materials appearing on this Site, including but not limited to any logos or characters, without the express written consent of the owner of the mark or copyright. You may not frame or otherwise incorporate into another web site any of the Content or other materials on this Site without prior written consent of Meybohm Realtors, LLC.
            </p>
        </div>
    </div>
</div>
