USE [Meybohm_com]
GO
/****** Object:  Table [dbo].[Redirect]    Script Date: 09/12/2013 08:24:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Redirect](
	[RedirectID] [int] IDENTITY(1,1) NOT NULL,
	[OldUrl] [varchar](2000) NOT NULL,
	[NewUrl] [varchar](2000) NOT NULL,
 CONSTRAINT [PK_Redirect] PRIMARY KEY CLUSTERED 
(
	[RedirectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
