USE [Meybohm_com]
GO
/****** Object:  Table [dbo].[CMPageRole]    Script Date: 09/12/2013 08:24:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMPageRole](
	[CMPageRoleID] [int] IDENTITY(1,1) NOT NULL,
	[CMPageID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Editor] [bit] NOT NULL,
 CONSTRAINT [PK_CMPageRole] PRIMARY KEY CLUSTERED 
(
	[CMPageRoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CMPageRole]  WITH NOCHECK ADD  CONSTRAINT [FK_CMPageRole_CMPage] FOREIGN KEY([CMPageID])
REFERENCES [dbo].[CMPage] ([CMPageID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CMPageRole] CHECK CONSTRAINT [FK_CMPageRole_CMPage]
GO
ALTER TABLE [dbo].[CMPageRole]  WITH CHECK ADD  CONSTRAINT [FK_CMPageRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CMPageRole] CHECK CONSTRAINT [FK_CMPageRole_Role]
GO
ALTER TABLE [dbo].[CMPageRole] ADD  CONSTRAINT [DF_CMPagesRoles_Editor]  DEFAULT ((0)) FOR [Editor]
GO
