USE [Meybohm_com]
GO
/****** Object:  Table [dbo].[PropertyChangeLog]    Script Date: 09/12/2013 08:24:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyChangeLog](
	[PropertyChangeLogID] [int] IDENTITY(1,1) NOT NULL,
	[ShowcaseItemID] [int] NOT NULL,
	[Attribute] [varchar](255) NOT NULL,
	[OldValue] [varchar](max) NOT NULL,
	[NewValue] [varchar](max) NOT NULL,
	[DateStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_PropertyChangeLog] PRIMARY KEY CLUSTERED 
(
	[PropertyChangeLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PropertyChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_PropertyChangeLog_ShowcaseItem] FOREIGN KEY([ShowcaseItemID])
REFERENCES [dbo].[ShowcaseItem] ([ShowcaseItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyChangeLog] CHECK CONSTRAINT [FK_PropertyChangeLog_ShowcaseItem]
GO
