@{
    ViewBag.Title = "Office Locations";
}

<div id="content" class="dark">
	<div class="container">
		<div class="sixteen columns">
			<h1 class="white">Offices</h1>
			<div class="ten columns alpha">
				<div class="iframe-stretch">
                    <div class="map" id="map-offices">
                        <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zcjsq2KLfVyQ.kXPOcRgH3CFk" width="640" height="480"></iframe>
                    </div>
                </div>
			</div>
			<div class="three columns">
				<div class="locations">
					<h4>Aiken - Downtown</h4>
					<p>142 Laurens Street, NW &bull; Aiken, South Carolina 29801 &bull; Phone: 803.644.1700 &bull; Fax: 803.502.7777</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=142+Laurens+St+NW%4033.5615354,-81.72236809999998" target="_blank" class="btn aiken-downtown">Get Directions</a>
							
					<h4>Aiken - Silver Bluff</h4>
					<p>1070 Silver Bluff Road &bull; Aiken, South Carolina 29803 &bull; Phone: 803.648.7653 &bull; Fax: 803.649.7897</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=1070+Silver+Bluff+Rd%4033.5113892,-81.73756370000001" target="_blank" class="btn aiken-silverbluff">Get Directions</a>
							
					<h4>Columbia County</h4>
					<p>6004 Evans Town Center Blvd. &bull; Evans, Georgia 30809-4218 &bull; Phone: 706.863.8218 &bull; Fax: 706.860.9078</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=6004+Evans+Town+Center+Blvd%4033.53911,-82.12920400000002" target="_blank" class="btn columbia-county">Get Directions</a>
							
					<h4>West Augusta</h4>
					<p>3519 Wheeler Rd &bull; Augusta, Georgia 30909 &bull; Phone: 706.736.3375 &bull; Fax: 706.736.0703</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=3519+Wheeler+Rd%4033.486759,-82.075806" target="_blank" class="btn west-augusta">Get Directions</a>
				</div>
			</div>
			<div class="three columns omega">
				<div class="locations">
					<h4>New Homes</h4>
					<p>4424 Evans to Locks Rd &bull; Evans, Georgia 30809 &bull; Phone: (706)869-6989 &bull; Fax: (706)869-6987</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=4424+Evans+to+Locks+Rd%4033.5394702,-82.1298334" target="_blank" class="btn new-homes">Get Directions</a>
							
					<h4>North Augusta</h4>
					<p>590 W Martintown Road &bull; North Augusta, South Carolina 29841 &bull; Phone: (803)278-4437 &bull; Fax: (803)279-5283</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=590+W+Martintown+Rd%4033.5140777,-81.97847660000002" target="_blank" class="btn north-augusta">Get Directions</a>
							
					<h4>South Augusta</h4>
					<p>2556 Tobacco Rd. &bull; Hephzibah, Georgia 30815 &bull; Phone: (706)790-5828 &bull; Fax: (706)798-9393</p>
					<a href="https://maps.google.com/maps?output=classic&daddr=2556+Tobacco+Rd%4033.377465,-82.079497" target="_blank" class="btn south-augusta">Get Directions</a>
				</div>
			</div>
		</div>
	</div>
</div>